<!DOCTYPE html>
<html>
<style>
th {
  border: 1px solid black;
  margin: 0;
  padding: 6px 20px;
  background-color: gray;
  color: white;
}

td {
  border: 1px solid black;
  margin: 0;
  padding: 3px 10px;
}
</style>
    <title>{{title}}</title>
    <body>
        <table>
            <tr><th>Pos</th><th>No</th><th>Players</th><th>Match Points</th><th>Tops</th><th>Score %</th></tr>
            <tr><th colspan=6>NS</th></tr>
            {% for ranking in rankingNS %}
	        <tr>
                    <td>{{ranking['pos']}}</td>
                    <td>{{ranking['pair']}}</td>
                    <td>{{ranking['name'][0]}} & {{ranking['name'][1]}}</td>
                    <td>{{ranking['points']}}</td>
                    <td>{{ranking['tops']}}</td>
                    <td>{{ranking['%']}}</td>
                </tr>
            {% endfor %}
            <tr><th colspan=6>EW</th></tr>
            {% for ranking in rankingEW %}
                <tr>
                    <td>{{ranking['pos']}}</td>
                    <td>{{ranking['pair']}}</td>
                    <td>{{ranking['name'][0]}} & {{ranking['name'][1]}}</td>
                    <td>{{ranking['points']}}</td>
                    <td>{{ranking['tops']}}</td>
                    <td>{{ranking['%']}}</td>
                </tr>
            {% endfor %}
    </body>
</html>
